body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  margin: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: aqua;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.border:hover {
  border-color: pink;
  transform: scale(1.2);
}
